* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(87, 85, 85);
}


h2 {
    padding: 8px;
    font-size: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catégorie {
    padding: 0 10px;
}

img {
    padding-bottom: 10px;
}

/* Mise en page de la page d'accueil */
.First-container, .Second-container, .Third-container, .Fourth-container, .Fifth-container {
    background-color: rgb(165, 171, 177);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
}

.First-container h1, .Second-container h1, .Third-container h1, .Fourth-container h1, .Fifth-container h1 {
    margin: 10px 0;
    text-decoration: underline;
    
}

.First-container h2, .Second-container h2, .Third-container h2, .Fourth-container h2, .Fifth-container h2 {
    margin: 10px 0;
    text-decoration: underline;
}

.First-container p, .Second-container p, .Third-container p, .Fourth-container p, .Fifth-container p {
    font-size: 1.2em;
}

.conclusion {
    width: 80%;
    margin-top: 20px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}